@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

:root {
	--fontColor: #e5e5e5;
	--mutedFontColor: #888888;
	--accentColor: #0042ff;
	--backgroundColor: #010107;
}

* {
	margin: 0;
	padding: 0;
}

*, *:after, *:before {
	box-sizing: border-box;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	color: var(--fontColor);
	font-family: 'Silkscreen', sans-serif;
	background-color: var(--backgroundColor);
}

button {
	font: inherit;
	background: none;
	border: none;
	appearance: none;
	cursor: pointer;
}

button:disabled {
	cursor: auto;
}

button:focus {
	outline: none;
}

::-webkit-scrollbar {
	display: none;
	width: .7em;
}
::-webkit-scrollbar-track {
	background: var(--backgroundColor);
}
::-webkit-scrollbar-thumb {
	background: var(--fontColor);
}